<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CommunityPatchLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <CommunityPatchLauncher.Properties.Settings>
            <setting name="VersionInformation" serializeAs="String">
                <value>https://raw.githubusercontent.com/LitzeYT/Settlers4Patch/master/Version.ini</value>
            </setting>
            <setting name="Normal" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Fast" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Faster" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Testing" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PatchPosition" serializeAs="String">
                <value>1124076</value>
            </setting>
            <setting name="GamePathRegKeyPath" serializeAs="String">
                <value>HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Ubisoft\Launcher\Installs\11785</value>
            </setting>
            <setting name="GamePathRegKeyName" serializeAs="String">
                <value>InstallDir</value>
            </setting>
            <setting name="ReportIssueLink" serializeAs="String">
                <value>https://github.com/Settlers4Modding/CommunityPatchLauncher/issues</value>
            </setting>
            <setting name="PreInstall" serializeAs="String">
                <value>PreInstall.txt</value>
            </setting>
            <setting name="ReporistoryOwner" serializeAs="String">
                <value>Settlers4Modding</value>
            </setting>
            <setting name="RepositoryName" serializeAs="String">
                <value>CommunityPatchLauncher</value>
            </setting>
            <setting name="DevelopFilter" serializeAs="String">
                <value>develop-([0-9]+)</value>
            </setting>
            <setting name="ReleaseFilter" serializeAs="String">
                <value>v(\d+\.\d+\.\d+)</value>
            </setting>
            <setting name="PatchAppName" serializeAs="String">
                <value>CommunityLauncherPatcher.exe</value>
            </setting>
            <setting name="WindowMoveDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MarkdownOnlineBasePath" serializeAs="String">
                <value>https://raw.githubusercontent.com/LitzeYT/Settlers4Patch/master/</value>
            </setting>
            <setting name="PatchChangelogFileName" serializeAs="String">
                <value>ChangeLog.md</value>
            </setting>
            <setting name="NotReadableFile" serializeAs="String">
                <value>NotReadable.md</value>
            </setting>
            <setting name="FileLoading" serializeAs="String">
                <value>Loading.md</value>
            </setting>
            <setting name="FallbackLanguage" serializeAs="String">
                <value>en-EN</value>
            </setting>
            <setting name="EditorRegKey" serializeAs="String">
                <value>HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Bluebyte\Settlers4\S4Editor\</value>
            </setting>
            <setting name="EditorBaseFolder" serializeAs="String">
                <value>Editor/</value>
            </setting>
            <setting name="ConfigBaseFolder" serializeAs="String">
                <value>Config/</value>
            </setting>
            <setting name="SettlersUnitedDownloadName" serializeAs="String">
                <value>SettlersUnitedSetup.exe</value>
            </setting>
            <setting name="SettlersUnitedDownloadUri" serializeAs="String">
                <value>https://files.settlers-united.com/Settlers-United.exe</value>
            </setting>
        </CommunityPatchLauncher.Properties.Settings>
    </userSettings>
</configuration>
